@import '~css/default'

.fetching
    width 44px
    margin 0 auto
    position absolute
    right 50%
    transform translateX(22px)

.backgroundCity
    background url('/public/img/backgroundLogin.jpg') no-repeat center center / cover

.boxLogin
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, .5))