@import '~css/default'

.loaderSection
    display flex;
    height 200px
    width 200px
    align-items center
    justify-content center
    flex-wrap wrap
    font-weight bold
    color $grey
    position absolute
    left calc(50% - 100px)
    top calc(50% - 100px)