@import '~css/default'

.dataTable
  color #76838f
  margin-top 40px
  thead
      th
        border none
        color #526069

  thead
  tbody
    .action
      width 150px
      max-width 180px
      text-align center