@import '~css/default'

.headerFilters
    display flex
    height 30px
    align-items center

    .moduleName
        margin 0
        font-size 1.4em
        color $grey

    .moduleIcon
        color $grey
        width 20px
        height 20px
        font-size 1em
        display flex
        align-items center
        justify-content center
        margin-right 5px