@import '~css/default'

.searchInput
    position absolute
    right 15px
    width 200px
    font-family FontAwesome, $font
    transition width 100ms ease
    will-change width
    &:focus
        width 240px