@import '~css/default'

.filterMenus 
    width 100%
    border none
    height 30px
    background rgba(229, 229, 229, 0.31)
    padding-left 10px
    color #FFF
    outline none
    font-family $font

    &::-webkit-input-placeholder
        color #FFF